@{
    ViewBag.Title = "Öğrenci Ekle";
    ViewBag.UstBaslik = "Öğrenci Ekle";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@using DAL.Data
@model Classroom
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
      href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<script src="~/Assets/js/jquery-1.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sad').datepicker();
        document.getElementById("sad").datepicker();
    });

    var htmlText = "";

    function PanelAc() {
        var count = $("#classroom input[type=checkbox]").length;
        htmlText = "";
        var checked = []
        var checkedText = []
        $("input[type=checkbox]:checked").each(function () {
            checked.push($(this).attr('id'));
            checkedText.push($(this).val());
        });

        htmlText = "<p id='pElement' style='margin-left:20px;' class='hm_field_name' for='birthday_day'>Soru Sayısı Giriniz</p>";
        for (var i = 0; i < checked.length; i++) {
            htmlText += "<div class='my_col_third'><input required='required' name=" + checked[i] + " type='number' min='1' style='height:35px; width:80%;border-radius:5px;' id='" + checked[i] + "' placeholder='" + checkedText[i] + "' /></div>";
        }

        $("#checkBoxResult .a").html(htmlText);
        $("#checkBoxResult").show();
        document.getElementById("openPanel").style.visibility = "visible";
        document.getElementById("openPanel").hidden = '';
        document.getElementById("hr").style.visibility = "visible";
        document.getElementById("hr").hidden = '';
        document.getElementById("hr1").style.visibility = "visible";
        document.getElementById("hr1").hidden = '';

        if (checked.length == 0) {
            htmlText = 'pElement';
            document.getElementById("openPanel").style.visibility = "hidden";
            document.getElementById("openPanel").hidden = 'hidden';
            document.getElementById("hr").style.visibility = "hidden";
            document.getElementById("hr").hidden = 'hidden';
            document.getElementById("hr1").style.visibility = "hidden";
            document.getElementById("hr1").hidden = 'hidden';
            document.getElementById("pElement").style.visibility = "hidden";
            document.getElementById("pElement").hidden = 'hidden';
        }
    }
</script>



@if (TempData["message"] != null && (bool)TempData["message"] == false)
{
    <script type="text/javascript">

        Bilgilendirme('Sınıflar bulunamamıştır', 'error')
        var url = '@Url.Action("Add", "Classroom")';
        setTimeout(function () { window.location.href = url; }, 3000)
    </script>
}
else if (TempData["message"] != null && (bool)TempData["message"] == true)
{
    <script type="text/javascript">
        Bilgilendirme('Öğrenci başarı ile kaydedildi...', 'access')
        var url = '@Url.Action("Add", "AdminStudent")';
    </script>
}
else if (TempData["msg"] != null)
{
    string result = TempData["msg"] as string;

    <script type="text/javascript">
        Info('@result', 'error')
        var url = '@Url.Action("Add", "AdminStudent")';
    </script>
}

@if (TempData["msg1"] != null)
{
    string result = TempData["msg1"] as string;

    <script type="text/javascript">
        Info('@result', 'error')
        var url = '@Url.Action("Add", "AdminStudent")';
    </script>
}
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="hm-tabs tabs1">
            <ul class="tabs-body">
                <li data-content="inbox" class="selected">
                    <div class="form_row clearfix">
                    </div>
                    @using (Html.BeginForm("Add", "AdminStudent", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div id="mainPanel">
                            <div class="form_row clearfix">
                                <hr style="margin-top:30px;" />
                                <div class="panel-body">
                                    <div class="col-lg-6 col-sm-6" id="student">
                                        <label for="birthday_day">
                                            <span class="hm_field_name">
                                                <b>
                                                    Ad
                                                </b>
                                            </span>
                                            <span class="hm_requires_star">*</span>
                                        </label>
                                        <input style="border-color:grey" class="form-control" type="text" name="FirstName" value="" required/>
                                        <label for="birthday_day">
                                            <span class="hm_field_name">
                                                <b>
                                                    Soyad
                                                </b>
                                            </span>
                                            <span class="hm_requires_star">*</span>
                                        </label>
                                        <input style="border-color:grey" class="form-control" type="text" name="LastName" value="" required />
                                        <label for="birthday_day">
                                            <span class="hm_field_name">
                                                <b>
                                                    Email
                                                </b>
                                            </span>
                                        </label>
                                        <input style="border-color:grey" class="form-control" type="text" name="Email" value=""  />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body collapse in" id="openPanel" hidden="hidden">
                                <div class="form_row clearfix">
                                    <div class="my_col_third">
                                        <span class="hm_field_name">
                                            <b>
                                                SINIF
                                            </b>
                                        </span>
                                        <br />
                                        <select id="dropDownListClassroom" class="dropdown" name="classroomID" required style="height:35px; border-color:ActiveCaption; border-radius:5px; ">
                                            <option style="color:grey" disabled selected value="">Seçiniz</option>
                                            @foreach (Classroom item in TempData["classroom"] as IEnumerable<Classroom>)
                                            {
                                                <option style="color:grey;" value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="my_col_third">
                                        <div class="input-append">
                                            <button type="submit" class="btn btn-danger btn-block" style="height:35px; margin-top:22px; border-radius:5px;">
                                                Öğrenci Kaydet
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</section>

