@{
    ViewBag.Title = "Sınav Sonucu";
    ViewBag.UstBaslik = "Sınav Sonucu";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@using UI.Models
@model StudentExamsVM


<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="hm-tabs tabs1">
            <div id="mainPanel">
                <div class="form_row clearfix">
                    <div class="panel-body">
                        <label>
                            <span>
                                <b>
                                    @Model.FirstName.ToUpper()  @Model.LastName.ToUpper()
                                </b>
                            </span>
                        </label>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><strong>Sınav Adı</strong></th>
                                    <th><strong>Puanı</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ExamScoreList)
                                {
                                    if (item.Value >= 70)
                                    {
                                        <tr class="success">
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }
                                    else if (item.Value >= 50)
                                    {
                                        <tr class="warning">
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>

                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
